{
    "printWidth": 100,
    "wrapComments": false,
    "useModuleLabel": true,
    "autoGroupImports": "package",
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
